.wrapper-section {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.site-footer {
  background-color: rgb(30, 41, 59);
  color: #ffffff;
}

.site-footer a,
.site-footer p {
  color: #ffffff;
}


/* Default max-width for mobile screens */
.wrapper {
  max-width: 100%; /* Full width for small screens */
}

.main-wrapper {
  padding: 80px 20px;
  text-align: center;
}

.main-wrapper .img-left,
.main-wrapper .img-right,
.main-wrapper .img-center {
  padding: 50px 100px;
}

.page-content a,
.page-content a:hover {
  color: rgb(2, 84, 236);
}

.post-link {
  display: inline;
}

.post-link-date {
  font-size: 14px;
  color: #828282;
}

.readmore {
  text-decoration: underline;
  font-size: 14px;
  color: #828282 !important;
}

.categories {
  list-style: none;
}
.categories li {
  float: right;
  color: #ffffff;
  border-radius: 9999px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #a0a0c0;
  margin-left: 10px;
}

.post-list > li {
  margin-bottom: 80px !important;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

.main-wrapper p {
  font-style: italic;
}

.main-wrapper-center {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.main-wrapper-center p {
  padding: 0 50px !important;
}

.main-wrapper-center p a,
.main-wrapper-center p a:hover {
  color: #ffffff;
  border-radius: 9999px;
  padding: 8px 20px;
  background-color: rgb(2, 84, 236);
  font-style: normal;
  display: block;
  width: 80px;
}


/* Medium screens, like tablets */
@media (min-width: 600px) {
  .wrapper {
    max-width: 80%; /* 80% of the screen width */
  }

  .trigger a[href*="kontakt"] {
    color: #ffffff;
    border-radius: 9999px;
    padding: 10px 20px;
    background-color: rgb(2, 84, 236);
  }


  .main-wrapper .img-left {
    padding: 50px 100px;
    float: left;
  }

  .main-wrapper .img-right {
    padding: 50px 100px;
    float: right;
  }

  .main-wrapper p {
    padding: 50px 0;
    color: #666666;
  }
}




