<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content" style="padding: 0;">
      <div class="wrapper-section section-01 wrapper-center">
        <div class="wrapper main-wrapper">
          <h1>Umfassende IT-Sicherheitsbewertung für den <br/> Schutz ihrer digitalen Services!</h1>
        </div>
      </div>
      <div class="wrapper-section section-02">
        <div class="wrapper main-wrapper">
          <img src="/assets/images/risk-analysis.png" alt="Risk Analysis" style="width: 50px;" class="img-left"/>
          <h2>Schützenswerte Objekte identifizieren</h2>
          <p>&bdquo;Sicherheitsmaßnahmen sollten auf fundierten Risikoanlysen basieren, um gezielt dort zu investieren, wo der größte Schutzbedarf besteht.&ldquo;</p>
        </div>
      </div>
      <div class="wrapper-section section-03">
        <div class="wrapper main-wrapper main-wrapper-center">
          <p><a href="{{ site.baseurl }}/consulting/" class="main-border-link">Consulting</a></p>
          <p><a href="{{ site.baseurl }}/kontakt/" class="main-fill-link">Anfrage</a></p>
        </div>
      </div>
      <div class="wrapper-section section-04 wrapper-center">
        <div class="wrapper main-wrapper">
          <img src="/assets/images/threat-model.png" alt="Risk Analysis" style="width: 50px;" class="img-right"/>
          <h2>Bedrohungsmodellierung als Basis</h2>
          <p>&bdquo;Eine strukturierte Bedrohungsmodellierung hilft Schwachstellen zu erkennen und gezielt Gegenmaßnahmen zu entwickeln.&ldquo;</p>
        </div>
      </div>
      <div class="wrapper-section section-05 section-design">
        <div class="wrapper main-wrapper">
          <h2>Secure-by-Design</h2>
          <p class="">&bdquo;Sicherheit von Anfang an.&ldquo;</p>
          <img src="/assets/images/secure-by-design.png" alt="Secure by Design" style="width: 70px;" class="img-center"/>
          <h2>Defense-in-Depth</h2>
          <p>&bdquo;Mehrere Schutzebenen für maximale Widerstandsfähigkeit.&ldquo;</p>

        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

