<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content" style="padding: 0;">
      <div class="wrapper-section section-01 wrapper-center">
        <div class="wrapper main-wrapper">
          <h1>Umfassende IT-Sicherheitsbewertung für den <br/> Schutz Ihrer digitalen Infrastruktur!</h1>
        </div>
      </div>
      <div class="wrapper-section section-02">
        <div class="wrapper main-wrapper">
          <img src="/assets/images/risk-analysis.png" alt="Risk Analysis" style="width: 50px;" class="img-left"/>
          <h2>Schützenswerte Objekte identifizieren</h2>
          <p>&bdquo;Sicherheitsmaßnahmen sollten auf fundierten Risikoanlysen basieren, um gezielt dort zu investieren, wo der größte Schutzbedarf besteht.&ldquo;</p>
        </div>
      </div>
      <div class="wrapper-section section-03 wrapper-center">
        <div class="wrapper main-wrapper">
          <img src="/assets/images/threat-model.png" alt="Risk Analysis" style="width: 50px;" class="img-right"/>
          <h2>Bedrohungsmodellierung als Basis</h2>
          <p>&bdquo;Eine strukturierte Bedrohungsmodellierung hilft Schwachstellen zu erkennen und geziel Gegenmaßnahmen zu entwickeln.&ldquo;</p>
        </div>
      </div>
      <div class="wrapper-section section-04">
        <div class="wrapper main-wrapper">
          <h2>Secure-by-Design</h2>
          <p>&bdquo;Sicherheit von Anfang an.&ldquo;</p>
          <h2>Defense-in-Depth</h2>
          <p>&bdquo;Mehrere Schutzebenen für maximale Widerstandsfähigkeit.&ldquo;</p>
          <img src="/assets/images/secure-by-design.png" alt="Secure by Design" style="width: 70px;" class="img-center"/>
        </div>
      </div>
    </main>

    <!-- Links etc  hellblau -->
    <!-- rgb(2, 84, 236)-->
    <!--Foote Background dunkel blau -->
    <!--rgb(30, 41, 59) -->
    {%- include footer.html -%}

  </body>

</html>

